{% extends 'base_auth.html' %}

{% block title %}Criar Conta | SchedCar{% endblock %}

{% block header_action %}
    <a href="{% url 'accounts:login' %}" class="login-button">
        Entrar
    </a>
{% endblock %}


{% block content %}
<form method="post" class="login-form">
    {% csrf_token %}

    <div class="form-box">
        <h2>Criar conta de colaborador</h2>

        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>

                {{ field }}

                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
                {% for error in  field.errors %}
                    <p class="field-error">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="submit-button">
            Cadastrar
        </button>
    </div>
</form>
{% endblock %}