{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SchedCar{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'accounts/auth.css' %}">
</head>

<body>
    <header>
        <h1 class="logo">SchedCar</h1>

        {% block header_action %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>